@font-face {
  font-family: "SF UI Display";
  font-weight: bold;

  src: url("../fonts/SF UI Display/SF-UI-Display-Bold.ttf") format("ttf")
}

@font-face {
  font-family: "SF UI Text";
  font-weight: normal;

  src: url("../fonts/SF UI Text/SF UI Text Regular.ttf") format("ttf")
}

@font-face {
  font-family: "GothamProBlack";

  src: url("content/GothaPro/GothaProBlack.otf") format("opentype");
}

@font-face {
  font-family: "GothamProBold";

  src: url("content/GothaPro/GothaProBold.otf") format("opentype");
}

@font-face {
  font-family: "GothamProLig";

  src: url("content/GothaPro/GothaProLig.otf") format("opentype");
}

@font-face {
  font-family: "GothamProMed";

  src: url("content/GothaPro/GothaProMed.otf") format("opentype");
}

@font-face {
  font-family: "GothamProReg";

  src: url("content/GothaPro/GothaProReg.otf") format("opentype");
}
