body {
	margin: 66px 0;

	font-family: "SF UI Display";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: block;

  max-width: 740px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.big {
	position: absolute;
	top: 260px;
	left: calc(50vw - 500px);

  display: flex;

  width: 1000px;
  height: auto;
  margin: 48px auto;
}

img,video{
  display: block;

  width: 740px;
  height: auto;
  margin: 60px auto;
}

h1 {
	text-align: center;
  letter-spacing: 0;

  font-family: "GothamProBlack";
  font-size: 86px;
}
h2 {
	margin-top: 18px;
	margin-bottom: 780px;

	text-align: center;
  letter-spacing: -1.3px;

  font-family: "GothamProMed";
  font-size: 42px;
	line-height: 52px;
}

h3 {
	margin-top: 80px;
	margin-bottom: 12px;

	letter-spacing: -0.5px;
	text-transform: uppercase;

	color: #3573E2;

	font-family: "SF UI Text Semibold";
	font-size: 16px;
}

h4 {
	text-align: left;
  letter-spacing: 1px;

	font-size: 43px;
  font-weight: bold;
	line-height: 1.08;
}

.first_p {
	margin-top: 24px;
}

p {
	margin-top: 29px;

	text-align: left;
	letter-spacing: 0px;

	font-size: 20px;
  font-weight: 400;
	line-height: 1.7;
}

mark {
	background-color: inherit;

	font-weight: bolder;
}

.main {
display: flex;

width: auto;
height: auto;
margin: 60px auto;

}

div img {
width: 300px;
height: 91px;
margin: 0 0;
}

.text-block {
	width: 333px;
	margin: 12px 0 0 26px;
}

div:first-child {
 margin-right: 40px;
}

h5 {
	margin: 16px 0 12px 0;

	text-align: left;

	font-size: 26px;
  font-weight: bold;
}

.card {
	margin: 0;

	font-size: 18px;
}
